<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Font Awesome (para iconos redes)-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Lightbox-->
    <link rel="stylesheet" href="vendor/lightbox2/css/lightbox.min.css">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="vendor/owl.carousel2/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/owl.carousel2/assets/owl.theme.default.css">    
    <!-- Css -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <title>DETALLE DE PRODUCTO | HEY BRO Indumentaria Masculina</title>
</head>
  <body>
    <header>
      <%- include("./includes/nav-tienda.ejs") %>
      <%- include("./includes/nav-perfil.ejs") %>
    </header>
      <!-- Sidebar del carrito -->
      <div id="barraCarrito-container" class="row barraCarrito-container fixed-top">
        <div id="barraCarrito" class="barraCarrito row">
          <div class="barraCarrito-cerrar row justify-content-start">
            <button id="barraCarrito-cerrar" class="col-4 btn-close p-4" type="button"></button>
            <h4 class="col-8 mt-3">Carrito</h4>
          </div>
          <div id="barraCarrito-listaItems" class="row barraCarrito-listaItems">
          </div>
          <div class="row barraCarrito-botones">
            <a href="/tienda/carrito" class=" btn-dark text-uppercase mb-2 rounded p-2">
              <span>Ver carrito</span>
            </a>
            <a href="/tienda/checkout" class=" btn-dark text-uppercase mb-1 rounded p-2">
              <span>Finalizar Compra</span>
            </a>
          </div>
        </div>
      </div>
      <!-- Alertas informativas -->
      <div id="dialogoInfo" class="dialogoInfo text-uppercase justify-content-center">
      </div>
      <!-- modales -->
      <div id="modales">
      </div>
      
      <section class="py-5 mt-4">
        <div class="container">
          <div id="detalle" class="row mb-5">
          </div>
        </div>
      </section>

      <%- include("./includes/footer.ejs") %>

    <!-- BOOTSTRAP JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    <!-- Lightbox -->
    <script src="/vendor/lightbox2/js/lightbox-plus-jquery.min.js"></script>
    <!-- OWL Carrousel -->
    <script src="/vendor/owl.carousel2/owl.carousel.min.js"></script>
    <script src="/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js"></script>
    <!-- SweetAlert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- JS del template que use -->
    <script src="/js/front.js" defer></script>
    <!-- JavaScrpit -->
    <script src="/js/app.js"></script>
    <script src="/js/app-DOMproductos.js"></script>
    <script src="/js/app-detalle.js"></script>
    <script src="/js/app-sidebarCarrito.js"></script>
    <script src="/js/app-newsletter.js"></script>
  </body>
</html>